*{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  background-color: #9d3cff;
  height:150px;
  width:390px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}
li{
  font-size:24px;
  width:100px;
  background-color: #ff71ff;

}