@charset "utf-8";

*{margin:0; padding: 0;}

html,body{width: 100%; height: 100%;}

.swiper-container{width: 100%; height: 100%;}
.swiper-wrapper{width: 100%; height: 100%;}
.swiper-slide{width: 100%; height: 100%;}

.bg-red{background:red;}
.bg-blue{background: blue;}
.bg-green{background: green;}